{% load cart %}
<html>
    <head>
        <style>
            table{
                background-color: lightblue;
            }
        </style>

    </head>
    <body>
        <h1 align='center'> Cart </h1>

        {% if mycart %}
        <table border="1" width='80%' background-color='red' align="center">
            <tr align="center">
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
            
                {% for i in mycart %}
               
                <tr align="center">
                <td><img src='{{i.p_img.url}}' height="90"></td>
                <td>{{i.p_name}}</td>
                <td>{{i.p_price}}</td>
                <td>{{i|cartqty:request.session.cart}}</td>
                <td>{{i|prtotal:request.session.cart}}</td>
                <td><a href="">Edit</a> | <a href="">Delete</a></td>
               </tr>
                
                {% endfor %}
                <tfoot>
                    <tr>
                    <th>
                        Total
                    </th>
                    
                        <th colspan="4" align="right">{{mycart|totalP:request.session.cart}}</th>
                    </tr>
                </tfoot>
            
        </table>
        {% else %} <h1> No Items In Cart</h1>
        {% endif %}
        


        
            
        <h1><a href="{% url 'home' %}">Home</a></h1><h1 align=''><a href="{% url 'home' %}">Continue</a></h1>
    
    </body>
</html>