{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'signUp.css' %}" />
    </head>
    <body>
        <form action="#" method="post">
            {% csrf_token %}
            <h1 align = 'center'>Sign UP</h1>
                  <p>
                      <label for="User Name" class="floatLabel">User Name</label>
                      <input type="text" name="myuser" />
                  </p>
                  <p>
                      <label for="password" class="floatLabel">Password</label>
                      <input id="password" name="password" type="password">
                      <!-- <span>Enter a password longer than 8 characters</span> -->
                  </p>
                  <p>
                      <label for="email" class="floatLabel">E-mail</label>
                      <input id="email" name="email" type="email">
                      <!-- <span>Your passwords do not match</span> -->
                  </p>
                  <p>
                      <input type="submit" value="Create My Account" id="submit">
                      <a href="{% url 'login' %}">Already Acc? Login</a>
                  </p>
              </form>

              {% if error%}

              {{error}}

              {% endif %}
    </body>
</html>	

